# Veri Bilimi İçin İstatistik

## Örneklem Teorisi

In [40]:
import numpy as np

*Örnek Senaryo:*  Bir ilçenin (10000 nüfuslu) yaş ortalamasını bulmak istediğimizi varsayalım. Bunun için numpy da randint fonksiyonunu kullanarak yaşları 0 ile 80 arasında olacak 10000 elemanlı bir array oluşturalım.

In [41]:
populasyon = np.random.randint(0, 80, 10000)

In [42]:
populasyon[0:10]

array([25,  0, 17,  1,  2, 25, 21, 18, 36, 10])

#### Örneklem Çekimi

In [43]:
np.random.seed(115) #seed yapılacak olan işlemlerin her tekrar edildiğinde aynı sonuçları getirmesi garanti altına alan işlem.
orneklem = np.random.choice(a = populasyon, size = 100)
orneklem[0:10]

array([63, 61, 62, 49, 13, 12, 32, 28, 14, 39])

In [44]:
orneklem.mean()

41.29

In [45]:
populasyon.mean()

39.3233

#### Örneklem Dağılımı

In [46]:
np.random.seed(10)
orneklem1 = np.random.choice(a = populasyon, size = 100)
orneklem2 = np.random.choice(a = populasyon, size = 100)
orneklem3 = np.random.choice(a = populasyon, size = 100)
orneklem4 = np.random.choice(a = populasyon, size = 100)
orneklem5 = np.random.choice(a = populasyon, size = 100)
orneklem6 = np.random.choice(a = populasyon, size = 100)
orneklem7 = np.random.choice(a = populasyon, size = 100)
orneklem8 = np.random.choice(a = populasyon, size = 100)
orneklem9 = np.random.choice(a = populasyon, size = 100)
orneklem10 = np.random.choice(a = populasyon, size = 100)

In [47]:
(orneklem1.mean() +  orneklem2.mean() + orneklem3.mean() + orneklem4.mean() + orneklem5.mean() + orneklem6.mean() + orneklem7.mean() + orneklem8.mean()
 + orneklem9.mean() + orneklem10.mean()) / 10

38.46399999999999

## Betimsel İstatistikler

In [48]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [49]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [50]:
!pip install researchpy
import researchpy as rp

Requirement already satisfied: researchpy in c:\users\bahri\anaconda3\lib\site-packages (0.3.6)
Requirement already satisfied: scipy in c:\users\bahri\anaconda3\lib\site-packages (from researchpy) (1.11.1)
Requirement already satisfied: numpy in c:\users\bahri\anaconda3\lib\site-packages (from researchpy) (1.24.3)
Requirement already satisfied: pandas in c:\users\bahri\anaconda3\lib\site-packages (from researchpy) (2.0.3)
Requirement already satisfied: statsmodels in c:\users\bahri\anaconda3\lib\site-packages (from researchpy) (0.14.0)
Requirement already satisfied: patsy in c:\users\bahri\anaconda3\lib\site-packages (from researchpy) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bahri\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\bahri\anaconda3\lib\site-packages (from pandas->researchpy) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\bahri\anaconda3\lib\site-packages (from pandas->researchpy) (2023.3)
Requirement already satisfied: six in c:\users\bahri\anaconda3\lib\site-packages (from patsy->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in c:\users\bahri\anaconda3\lib\site-packages (from statsmodels->researchpy) (23.1)

In [51]:
rp.summary_cont(df[["total_bill", "tip", "size"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [52]:
rp.summary_cat(df[["sex", "smoker", "day"]])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [53]:
df[["tip", "total_bill"]].cov() # kovaryans

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [54]:
df[["tip", "total_bill"]].corr() # koralasyon

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

## İş Uygulaması: Fiayt Stratejisi Karar Destek

In [55]:
fiyatlar = np.random.randint(10,110, 1000)

In [56]:
fiyatlar.mean()

58.492

In [57]:
import statsmodels.stats.api as sms

In [58]:
sms.DescrStatsW(fiyatlar).tconfint_mean()

(56.67953887736034, 60.30446112263965)

## Olasılık Dağılımları

### Bernoulli Dağılımı

Başarılı-Başarısız, olumlu-olumsuz şeklindeki iki sonuçlu olaylar ilgilenildiğinde kullanılan kesikli olasılık dağılımıdır.

${\displaystyle f(k;p)=p^{k}(1-p)^{1-k}\quad {\text{for }}k\in \{0,1\}}$


${\displaystyle \operatorname {E} \left(X\right)=p}$

$\operatorname {Var} [X]=pq=p(1-p)$

In [86]:
from scipy.stats import bernoulli # bernoulli dağılımını kullanmak için scipy kütüphanesi altındaki stats sınıfını kullanıyoruz.

In [87]:
p = 0.6

In [61]:
rv = bernoulli(p)
rv.pmf(k = 0)

0.4000000000000001

### Büyük Sayılar Yasası

Bir rassal değişkenin uzun vadeli kararlılığını tanımlayan olasılık teoremidir. Kısaca bir deney veya rastgele olayın tekrar sayısı arttıkça, gözlemlenen ortalamanın teorik (beklenen) ortalamaya yaklaşacağını ifade eder.

Aşağıdaki deney de bir madeni paranın havaya atılması durumunda yazı ya da tura gelme olasılığı hesaplanmaktadır. Bir madeni para 1 kere havaya atldığında yazı yada  tura gelme olasılığı %50 dir. Bu para kaç defa atılırsa atılsın bu ihtimal her zaman %50 ye yakın olacaktr.

In [62]:
import numpy as np
rng = np.random.RandomState(125)
for i in np.arange(1,21):
    deney_sayisi = 2**i
    yazi_turalar = rng.randint(0,2 , size= deney_sayisi)
    yazi_olasiliklari = np.mean(yazi_turalar)
    print("Atış Sayısı:", deney_sayisi, "----", 'Yazı Olasılığı: %.2f' % (yazi_olasiliklari * 100))

Atış Sayısı: 2 ---- Yazı Olasılığı: 100.00
Atış Sayısı: 4 ---- Yazı Olasılığı: 75.00
Atış Sayısı: 8 ---- Yazı Olasılığı: 50.00
Atış Sayısı: 16 ---- Yazı Olasılığı: 43.75
Atış Sayısı: 32 ---- Yazı Olasılığı: 59.38
Atış Sayısı: 64 ---- Yazı Olasılığı: 51.56
Atış Sayısı: 128 ---- Yazı Olasılığı: 46.88
Atış Sayısı: 256 ---- Yazı Olasılığı: 49.22
Atış Sayısı: 512 ---- Yazı Olasılığı: 55.47
Atış Sayısı: 1024 ---- Yazı Olasılığı: 51.46
Atış Sayısı: 2048 ---- Yazı Olasılığı: 50.10
Atış Sayısı: 4096 ---- Yazı Olasılığı: 49.39
Atış Sayısı: 8192 ---- Yazı Olasılığı: 49.55
Atış Sayısı: 16384 ---- Yazı Olasılığı: 49.78
Atış Sayısı: 32768 ---- Yazı Olasılığı: 50.13
Atış Sayısı: 65536 ---- Yazı Olasılığı: 49.78
Atış Sayısı: 131072 ---- Yazı Olasılığı: 50.05
Atış Sayısı: 262144 ---- Yazı Olasılığı: 50.07
Atış Sayısı: 524288 ---- Yazı Olasılığı: 50.07
Atış Sayısı: 1048576 ---- Yazı Olasılığı: 50.00

### Binom Dağılımı

${\displaystyle f(k;n,p)={n \choose k}p^{k}(1-p)^{n-k}}$, k = 0, 1, 2, ...,n


${\displaystyle \operatorname {E} (X)=np}$


${\displaystyle \operatorname {Var} (X)=np(1-p)}$

In [63]:
from scipy.stats import binom

Bir online alışveriş sitesi bir platformda reklam vermek istiyor. Bu alışveriş sitesi daha önce yaptığı çalışmada reklamlarınıın tıklanma olasılığını 0.01 olarak hesaplamıştır. Buna göre vereceği reklamı 100 kişi gördüğünde 1, 5 ve 10 kez tıklanma olasılıkları nedir hesaplamak istiyor.

In [64]:
p = 0.01
n = 100
rv = binom(n,p)
print(f" Reklamın 1 kez tıklanma olasılığı:{rv.pmf(1)}")
print(f" Reklamın 5 kez tıklanma olasılığı:{rv.pmf(5)}")
print(f" Reklamın 10 kez tıklanma olasılığı:{rv.pmf(10)}")

 Reklamın 1 kez tıklanma olasılığı:0.36972963764972666
 Reklamın 5 kez tıklanma olasılığı:0.002897787123761478
 Reklamın 10 kez tıklanma olasılığı:7.006035693977194e-08

### Poisson Dağılımı

Poisson dağılımı, belirli bir zaman diliminde veya alanda, nadir veya bağımsız olayların sabit bir ortalama hızla gerçekleşme olasılığını modellemek için kullanılan bir olasılık dağılımıdır. Örneğin, bir saatte bir web sitesine gelen kullanıcı sayısı gibi.

${\displaystyle f(x,\lambda )={\frac {\lambda ^{x}e^{-\lambda }}{x!}}\,\!}$,  x = 0,1,2,...,n

Aşağıda Bir ilan sitesine hatalı ilan girişi olma olasılıklarını hesaplama örneğidir.

-- Bir yıl boyunca ölçümler yapılıyor.

-- Dağılım biliniyor (Poisson) ve lambda 0.1 (ortalama hata sayısı)

-- Hiç hata olmaması, 3 hata olması ve 5 hata olmasu olasılıkları nedir?

In [65]:
from scipy.stats import poisson

In [66]:
lambda_ = 0.1

In [67]:
rv = poisson(mu = lambda_)
print(f"Hiç hata olmama olasılığı: {rv.pmf(k = 0)}")
print(f"3 hata olma olasılığı: {rv.pmf(k = 3)}")
print(f"5 hata olma olasılığı: {rv.pmf(k = 5)}")

Hiç hata olmama olasılığı: 0.9048374180359595
3 hata olma olasılığı: 0.00015080623633932676
5 hata olma olasılığı: 7.54031181696634e-08

### Normal Dağılım

Normal dağıldığı bilinen sürekli rassal değişkenler için olasılık hesaplaması için kullanılır.

${\displaystyle f(x\mid \mu ,\sigma ^{2})={\frac {1}{\sqrt {2\pi \sigma ^{2}}}}e^{-{\frac {(x-\mu )^{2}}{2\sigma ^{2}}}}}$

* $\mu$  ortalama ya da dağılımın beklenen değeri

* ${\displaystyle \sigma }$  standart sapma

* ${\displaystyle \sigma ^{2}}$ varyans

##### Uygulama Örneği:

Problem: Bir yatırım/toplantı öncesinde gelecek ay ile ilgili satışların belirli değerlerde gerçekleşmesş olasılıkları belirlenmek isteniyor.

Detaylar:

-Dağılımın normal olduğu biliniyor.

-Aylık ortalama satış sayısı 80K, standart sapma 5K

-90K'dan fazla satış yapma olasılığı nedir?

In [68]:
from scipy.stats import norm

In [81]:
# Satışların 90K'dan fazla olma olasılığı?
value = 1-norm.cdf(90, 80, 5)
print(f"Satışların 90K dan fazla olma olasılığı: %{value * 100}")

Satışların 90K dan fazla olma olasılığı: %2.275013194817921

In [82]:
# Satışların 70K'dan fazla olma olasılığı?
value = 1-norm.cdf(70, 80, 5)
print(f"Satışların 70K dan fazla olma olasılığı: %{value * 100}")

Satışların 70K dan fazla olma olasılığı: %97.72498680518208

In [83]:
# Satışların 73K'dan az olma olasılığı?
value = norm.cdf(73, 80, 5)
print(f"Satışların 73K dan az olma olasılığı: %{value * 100}")

Satışların 73K dan az olma olasılığı: %8.075665923377107

In [85]:
# Satışların 85K ile 90K arasında olma olasılığı?
value = norm.cdf(90, 80, 5) - norm.cdf(85, 80, 5)
print(f"Satışların 85K ile 90K arasında olma olasılığı: %{value * 100}")

Satışların 85K ile 90K arasında olma olasılığı: %13.590512198327787