# Veri Bilimi İçin İstatistik

## Örneklem Teorisi

In [2]:
import numpy as np

*Örnek Senaryo:*  Bir ilçenin (10000 nüfuslu) yaş ortalamasını bulmak istediğimizi varsayalım. Bunun için numpy da randint fonksiyonunu kullanarak yaşları 0 ile 80 arasında olacak 10000 elemanlı bir array oluşturalım.

In [4]:
populasyon = np.random.randint(0, 80, 10000)

In [5]:
populasyon[0:10]

array([45, 16, 13, 27, 49, 61, 30, 46, 52, 67])

#### Örneklem Çekimi

In [11]:
np.random.seed(115) #seed yapılacak olan işlemlerin her tekrar edildiğinde aynı sonuçları getirmesi garanti altına alan işlem.
orneklem = np.random.choice(a = populasyon, size = 100)
orneklem[0:10]

array([47, 26, 20, 43, 69, 76, 19, 58, 34, 54])

In [9]:
orneklem.mean()

40.1

In [10]:
populasyon.mean()

39.7861

#### Örneklem Dağılımı

In [15]:
np.random.seed(10)
orneklem1 = np.random.choice(a = populasyon, size = 100)
orneklem2 = np.random.choice(a = populasyon, size = 100)
orneklem3 = np.random.choice(a = populasyon, size = 100)
orneklem4 = np.random.choice(a = populasyon, size = 100)
orneklem5 = np.random.choice(a = populasyon, size = 100)
orneklem6 = np.random.choice(a = populasyon, size = 100)
orneklem7 = np.random.choice(a = populasyon, size = 100)
orneklem8 = np.random.choice(a = populasyon, size = 100)
orneklem9 = np.random.choice(a = populasyon, size = 100)
orneklem10 = np.random.choice(a = populasyon, size = 100)

In [16]:
(orneklem1.mean() +  orneklem2.mean() + orneklem3.mean() + orneklem4.mean() + orneklem5.mean() + orneklem6.mean() + orneklem7.mean() + orneklem8.mean()
 + orneklem9.mean() + orneklem10.mean()) / 10

38.833

## Betimsel İstatistikler

In [19]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [20]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [22]:
!pip install researchpy
import researchpy as rp

Collecting researchpy
  Obtaining dependency information for researchpy from https://files.pythonhosted.org/packages/f2/3a/f89796ede409890a27612c6e27d21bb65763bb7c034cd36d7577abe3edbf/researchpy-0.3.6-py3-none-any.whl.metadata
  Downloading researchpy-0.3.6-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: scipy in c:\users\bahri\anaconda3\lib\site-packages (from researchpy) (1.11.1)
Requirement already satisfied: numpy in c:\users\bahri\anaconda3\lib\site-packages (from researchpy) (1.24.3)
Requirement already satisfied: pandas in c:\users\bahri\anaconda3\lib\site-packages (from researchpy) (2.0.3)
Requirement already satisfied: statsmodels in c:\users\bahri\anaconda3\lib\site-packages (from researchpy) (0.14.0)
Requirement already satisfied: patsy in c:\users\bahri\anaconda3\lib\site-packages (from researchpy) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bahri\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\bahri\anaconda3\lib\site-packages (from pandas->researchpy) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\bahri\anaconda3\lib\site-packages (from pandas->researchpy) (2023.3)
Requirement already satisfied: six in c:\users\bahri\anaconda3\lib\site-packages (from patsy->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in c:\users\bahri\anaconda3\lib\site-packages (from statsmodels->researchpy) (23.1)
Downloading researchpy-0.3.6-py3-none-any.whl (34 kB)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.6

In [24]:
rp.summary_cont(df[["total_bill", "tip", "size"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [25]:
rp.summary_cat(df[["sex", "smoker", "day"]])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [29]:
df[["tip", "total_bill"]].cov() # kovaryans

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [30]:
df[["tip", "total_bill"]].corr() # koralasyon

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000