# Veriye İlk Bakış

In [3]:
import seaborn as sns
planets = sns.load_dataset("planets")
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

* Veri setinin hikayesi nedir?

*veri seti nasıl oluşturulmuştur? kim oluşturmuştur? değişkenlere neye göre isim vermiştir? bunları öğrenmek veriye bakışı daha kolay hale getirir.

In [6]:
df = planets.copy()

In [7]:
df.tail()

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

#### Veri setinin yapısal bilgileri

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [9]:
df.dtypes

method             object
number              int64
orbital_period    float64
mass              float64
distance          float64
year                int64
dtype: object

** Eğer type object olan bir d3eğişkenin tye nı category yapmak istiyorsak aşağıdaki yöntem uygulanır. **

In [10]:
import pandas as pd 
df.method = pd.Categorical(df.method)

In [11]:
df.dtypes

method            category
number               int64
orbital_period     float64
mass               float64
distance           float64
year                 int64
dtype: object

## Veri setinin betimlenmesi

In [15]:
df.shape # Verinin gözlem ve değişkenlerinin sayısına ulaşmak istersek kullanıyoruz. 1035 gözlem 6 değişken

(1035, 6)

In [18]:
df.columns # sadece değişkenlerin (column) isimlerine ulaşmak istersek.

Index(['method', 'number', 'orbital_period', 'mass', 'distance', 'year'], dtype='object')

In [23]:
df.describe() # veri setindeki betimsel istatisiklere ulaşmak istediğimizde

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [25]:
df.describe().T # veri setindeki betimsel istatisikleri transpoz ile gösterimi (*eksik gözlemleri göz ardı eder ve kategorik değişkenleri dışarda bırakız*).

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

#### Eksik Değerlerin İncelenmesi

##### Burada yaptığımız eksik verileri doldurma işlemi genel olarak öğrenme amaçlı yapılmıştır. eksik verilerin incelenmesi ve giderilmesi işlemi daha detaylı olupderinlemesine incelenmesi gerekmektedir.

In [31]:
df.isnull().values.any() # Veri setinde hiç eksik gözlem(değer) var mı?

True

In [33]:
df.isnull().sum() # hangi değişken de kaç tane eksik gözlem var?

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

----------------------------------------------------------------------------------------------------------------------------------------------

Burada "orbital_period" değişkenindeki eksik verilerin yerine 0 değerini atıyoruz. inplace=True ise değişikliklerin veri setinde kalıcı olmasını sağlıyor.

In [36]:
df["orbital_period"].fillna(0, inplace=True)

In [37]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

----------------------------------------------------------------------------------------------------------------------------------------------

Burada ise "mass" değişkenine mass'in diğer gözlemlerdeki ortalamasını alarak eksik verileri doldurduk.

In [38]:
df["mass"].fillna(df.mass.mean(), inplace=True)

In [39]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass                0
distance          227
year                0
dtype: int64

## Sadece kategorik değişkenler ve özetleri

In [41]:
df = planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

Veri setindeki kategorik değişkenleri ayrı olarak çekmek için "select_dtypes" fonksiyonunu kullanıyoruz. Bu fonksiyon sayesinde kategorik değişkenleri çekip ayrı bir değişkene atıyoruz.

In [44]:
kat_df =df.select_dtypes(include = ["object"])

In [45]:
kat_df.head()

            method
0  Radial Velocity
1  Radial Velocity
2  Radial Velocity
3  Radial Velocity
4  Radial Velocity

Kaç adet kategorik değişkenimiz ve bunların hangileri olduğunu bulmak için aşağıdaki kodu kullanıyoruz. kısacası kategorik değişkenlerin sınıflarına ulaşmak için kullanıyoruz.

In [53]:
kat_df.method.unique()

array(['Radial Velocity', 'Imaging', 'Eclipse Timing Variations',
       'Transit', 'Astrometry', 'Transit Timing Variations',
       'Orbital Brightness Modulation', 'Microlensing', 'Pulsar Timing',
       'Pulsation Timing Variations'], dtype=object)

In [54]:
kat_df["method"].value_counts().count()

10

In [57]:
kat_df["method"].value_counts() # Burada kategorik değişkenlerinin sınıflarının frenkaslarına( adetlerine) eişmek için kullanıyoruz.

method
Radial Velocity                  553
Transit                          397
Imaging                           38
Microlensing                      23
Eclipse Timing Variations          9
Pulsar Timing                      5
Transit Timing Variations          4
Orbital Brightness Modulation      3
Astrometry                         2
Pulsation Timing Variations        1
Name: count, dtype: int64

## Sürekli(sayısal) Değişken Özetleri

In [58]:
df_num = df.select_dtypes(include=["float64", "int64"])

In [60]:
df_num.head()

   number  orbital_period   mass  distance  year
0       1         269.300   7.10     77.40  2006
1       1         874.774   2.21     56.95  2008
2       1         763.000   2.60     19.84  2011
3       1         326.030  19.40    110.62  2007
4       1         516.220  10.50    119.47  2009

In [61]:
df_num.describe().T

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

In [65]:
df_num["distance"].describe()

count     808.000000
mean      264.069282
std       733.116493
min         1.350000
25%        32.560000
50%        55.250000
75%       178.500000
max      8500.000000
Name: distance, dtype: float64